:root {
   --orange: hsl(25, 97%, 53%);
   --white: hsl(0, 0%, 100%);
   --light-grey: hsl(217, 12%, 63%);
   --medium-grey: hsl(216, 12%, 54%);
   --dark-grey: hsl(210, 17%, 12%);
   --dark-blue: hsl(213, 19%, 18%);
   --very-dark-blue: hsl(216, 12%, 8%);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--very-dark-blue);
   font-family: 'Overpass', sans-serif;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}

h1 {
   color: var(--white);
   font-weight: 400;
}

p {
   font-size: 15px;
   color: var(--light-grey);
}

ul {list-style: none;}

button {border: none;}

.rating,
.thank-you  {
   max-width: 380px;
   background-color: var(--dark-blue);
   border-radius: 20px;
   padding: 24px;
   margin: 20px;
}

.rating {
   display: none;
}

.rating img {
   background-color: var(--dark-grey);
   padding: 15px;
   border-radius: 50%;
}

.rating h1 {
   margin-top: 20px;
}

.rating p {
   line-height: 1.4;
}

.rating ul {
   margin: 20px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.rating .btn-select {
   background-color: var(--medium-grey);
   color: var(--medium-grey);
   font-size: 16px;
   font-weight: 700;
   padding: 15px 20px;
   border-radius: 50%;
   cursor: pointer;
   transition: all .3s;
}

.rating .btn-submit {
   width: 100%;
   background-color: var(--orange);
   padding: 15px 0;
   border-radius: 30px;
   font-size: 15px;
   color: var(--white);
   text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
   transition: all .3s;
}
.rating .btn-submit:hover,
.rating .btn-select:hover  {
   background-color: var(--white);
   color: var(--orange);
}

.thank-you {
   display: block;
   text-align: center;
   /* transform: scale(.5);
   opacity: 0; */
}

.thank-you img-box {
   text-align: center;
}

.thank-you span {
   display:inline-block;
   color: var(--orange);
   background-color: var(--light-grey);
   border: solid 1px var(--orange);
   border-radius: 20px;
   padding: 5px 15px;
   margin: 25px 0 30px;
}

.thank-you h1 {
   margin-bottom: 5px;
}

.thank-you p {
   line-height: 1.4;
}
